*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #E0D7C9;
}




.navbar{
    height: 60px;
    background-color: #2D94C866;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #903711;
    font-size: x-large;
}

.info{
    margin-top: 50px;
    margin-left: 500px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

